.dart_tool/
.flutter-plugins-dependencies
build/
.env*
!.env.example
*.vault*
*.jks
*.keystore
android/local.properties
android/key.properties
.DS_Store
coverage/
node_modules/
*.iml
macos/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
client-config*.json
